.page .copy-art-shoes-8 {
  transform: rotate(46.211deg);
  margin: 0 0.7rem 0.8rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  color: #FFFFFF;
}
.page .copy-art-shoes-10 {
  margin: 0.8rem 0rem 0 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  color: #FFFFFF;
}
.page .copy-art-shoes-11 {
  transform: rotate(-33.477deg);
  margin: 0.5rem 0 0.3rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  color: #FFFFFF;
}
.page .container-2 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page .copy-art-shoes-9 {
  transform: rotate(35.047deg);
  position: absolute;
  left: 22.6rem;
  bottom: 0.9rem;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  color: #FFFFFF;
}
.page .copy-art-shoes-12 {
  transform: rotate(-56.672deg);
  position: absolute;
  left: 24.8rem;
  bottom: 1.3rem;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  color: #FFFFFF;
}
.page .linked-ellipse-11 {
  transform: rotate(-132.613deg);
  position: absolute;
  left: 22.6rem;
  top: 0.9rem;
  width: 4.4rem;
  height: 4.4rem;
}
.page .copy-art-shoes-13 {
  transform: rotate(-23.917deg);
  position: relative;
  margin: 0 0 1rem 0.4rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  color: #FFFFFF;
}
.page .copy-art-shoes-16 {
  transform: rotate(46.211deg);
  position: relative;
  margin-right: 0.5rem;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  color: #FFFFFF;
}
.page .container-21 {
  margin: 0.1rem 0.2rem 0.8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.page .copy-art-shoes-14 {
  margin: 0 0.1rem 1.9rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  color: #FFFFFF;
}
.page .copy-art-shoes-18 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  color: #FFFFFF;
}
.page .container-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.page .container-8 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page .container-28 {
  margin-right: 0.1rem;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  text-transform: capitalize;
  color: #FFFFFF;
}
.page .arrow-12 {
  opacity: 0.3;
  background: #000000;
  width: 0.1rem;
  height: 0.1rem;
}
.page .group-16 {
  margin: 0.5rem 0;
  display: flex;
  width: 0.1rem;
  height: 0.1rem;
  box-sizing: border-box;
}
.page .container-59 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  text-transform: capitalize;
  color: #FFFFFF;
}
.page .arrow-1 {
  opacity: 0.3;
  background: #FFFFFF;
  position: absolute;
  left: 0.7rem;
  bottom: 0.4rem;
  width: 0.1rem;
  height: 0.1rem;
}
.page .group-17 {
  position: relative;
  display: flex;
  box-sizing: border-box;
}
.page .container-60 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  text-transform: capitalize;
  color: #FFFFFF;
}
.page .group-18 {
  display: flex;
  box-sizing: border-box;
}
.page .container-61 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  color: #FFFFFF;
}
.page .frame-9 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 18.6rem;
  box-sizing: border-box;
}
.page .container-18 {
  margin: 1.5rem 0 1.6rem 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page .container-27 {
  margin-right: 1rem;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  color: #FFFFFF;
}
.page .arrow-11 {
  opacity: 0.3;
  background: #FFFFFF;
  margin: 0.6rem 0 0.4rem 0;
  width: 0.1rem;
  height: 0.1rem;
}
.page .container-19 {
  margin: 1.5rem 0 1.6rem 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page .vector-stroke-13 {
  margin: 1.1rem 2rem 1.1rem 0;
  width: 1.1rem;
  height: 1.1rem;
}
.page .vector-stroke-14 {
  margin: 1.1rem 2rem 1.1rem 0;
  width: 1.2rem;
  height: 1.1rem;
}
.page .vector-stroke-15 {
  margin: 1.1rem 2rem 1.1rem 0;
  width: 0.8rem;
  height: 1.1rem;
}
.page .vector-stroke-16 {
  margin-right: 0.7rem;
  width: 1rem;
  height: 1.2rem;
}
.page .container-63 {
  margin: 0.4rem 0 0.2rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 0.769;
  color: var(--light-gray, #8C8F96);
}
.page .group-7 {
  margin: 1rem 0.6rem 1rem 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page .ellipse-4 {
  border-radius: 0.6rem;
  background: #FD7900;
  position: absolute;
  left: 50%;
  top: 1.1rem;
  translate: -50% 0;
  width: 1.1rem;
  height: 1.1rem;
}
.page .container-62 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 4.417;
  color: #FFFFFF;
}
.page .group-11 {
  position: relative;
  display: flex;
  padding: 0 0.3rem;
  box-sizing: border-box;
}
.page .group-8 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page .frame-7 {
  margin: 0.4rem 0 0.5rem 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page .container-25 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 79.6rem;
  height: fit-content;
  box-sizing: border-box;
}
.page .vector-6 {
  transform: rotate(-42.034deg);
  position: absolute;
  left: 23.9rem;
  top: 50%;
  translate: 0 -50%;
  width: 1.8rem;
  height: 1.8rem;
}
.page .copy-art-shoes-15 {
  transform: rotate(32.452deg);
  position: absolute;
  left: 25.1rem;
  top: 1.2rem;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  color: #FFFFFF;
}
.page .copy-art-shoes-17 {
  transform: rotate(35.047deg);
  position: absolute;
  left: 23.5rem;
  bottom: 1.3rem;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  color: #FFFFFF;
}
.page .copy-art-shoes-19 {
  transform: rotate(-33.477deg);
  position: absolute;
  left: 25.2rem;
  bottom: 1.3rem;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  color: #FFFFFF;
}
.page .copy-art-shoes-20 {
  transform: rotate(-56.672deg);
  position: absolute;
  left: 25.7rem;
  bottom: 1.8rem;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  color: #FFFFFF;
}
.page .header {
  background: #000000;
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  display: flex;
  padding: 1.1rem 0 1rem 5.7rem;
  height: 100%;
  box-sizing: border-box;
}
.page .frame-34386 {
  position: relative;
  margin: 0 1.4rem 3.9rem 0;
  display: flex;
  padding: 3.8rem 72.9rem 0.6rem 0;
  width: 120rem;
  box-sizing: border-box;
}
.page .ellipse-112 {
  opacity: 0.7;
  border-radius: 0.2rem;
  background: #FFFFFF;
  margin: 0 0.1rem 2.8rem 0.1rem;
  width: 0.4rem;
  height: 0.4rem;
}
.page .ellipse-92 {
  opacity: 0.7;
  border-radius: 0.2rem;
  background: #FFFFFF;
  margin: 0 0.1rem 2.8rem 0.1rem;
  width: 0.4rem;
  height: 0.4rem;
}
.page .ellipse-82 {
  border-radius: 0.3rem;
  background: #FFFFFF;
  width: 0.6rem;
  height: 0.6rem;
}
.page .group-14 {
  margin-bottom: 2.8rem;
  display: flex;
  width: 0.6rem;
  height: 0.6rem;
  box-sizing: border-box;
}
.page .ellipse-72 {
  opacity: 0.7;
  border-radius: 0.2rem;
  background: #FFFFFF;
  margin: 0 0.1rem;
  width: 0.4rem;
  height: 0.4rem;
}
.page .frame-11 {
  position: absolute;
  top: 13.8rem;
  right: 4.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.page .vector-stroke-5 {
  width: 0.5rem;
  height: 0.9rem;
}
.page .arrows {
  border-radius: 2.1rem;
  background: #FFFFFF;
  position: relative;
  margin-right: 0.9rem;
  display: flex;
  padding: 1.6rem 0 1.7rem 0.1rem;
  width: 4.2rem;
  height: 4.2rem;
  box-sizing: border-box;
}
.page .vector-stroke-6 {
  width: 0.5rem;
  height: 0.9rem;
}
.page .arrows-1 {
  border-radius: 2.1rem;
  background: #F0F2F6;
  position: relative;
  display: flex;
  padding: 1.6rem 0.1rem 1.7rem 0;
  width: 4.2rem;
  height: 4.2rem;
  box-sizing: border-box;
}
.page .frame-59 {
  position: absolute;
  left: 5.6rem;
  bottom: 3.7rem;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page .container-21 {
  margin-bottom: 5.1rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 1.235;
  text-transform: uppercase;
  color: #171819;
}
.page .container-22 {
  margin-bottom: 1.2rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.684;
  color: var(--black, #020202);
}
.page .container-37 {
  margin-right: 0.6rem;
  width: 9.3rem;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.667;
  text-transform: uppercase;
  color: #FFFFFF;
}
.page .vector-stroke-7 {
  margin: 0.3rem 0;
  width: 0.4rem;
  height: 0.6rem;
}
.page .blue-btn {
  border-radius: 0.3rem;
  background: var(--black, #020202);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  padding: 1.4rem 0;
  width: 13.6rem;
  box-sizing: border-box;
}
.page .frame-34289 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page .container-23 {
  margin-bottom: 1.2rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3.1rem;
  line-height: 1.3;
  text-transform: uppercase;
  color: #FFFFFF;
}
.page .container-24 {
  margin-bottom: 1.2rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.684;
  color: #FFFFFF;
}
.page .container-38 {
  margin-right: 0.6rem;
  width: 9.3rem;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.667;
  text-transform: uppercase;
  color: #FFFFFF;
}
.page .vector-stroke-10 {
  margin: 0.3rem 0;
  width: 0.4rem;
  height: 0.6rem;
}
.page .blue-btn-1 {
  border-radius: 0.3rem;
  background: var(--black, #020202);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  padding: 1.4rem 0;
  width: 13.6rem;
  box-sizing: border-box;
}
.page .frame-342891 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page .ellipse-113 {
  opacity: 0.7;
  border-radius: 0.2rem;
  background: #FFFFFF;
  margin: 0 0.1rem 2.8rem 0.1rem;
  width: 0.4rem;
  height: 0.4rem;
}
.page .ellipse-93 {
  opacity: 0.7;
  border-radius: 0.2rem;
  background: #FFFFFF;
  margin: 0 0.1rem 2.8rem 0.1rem;
  width: 0.4rem;
  height: 0.4rem;
}
.page .ellipse-83 {
  border-radius: 0.3rem;
  background: #FFFFFF;
  width: 0.6rem;
  height: 0.6rem;
}
.page .group-141 {
  margin-bottom: 2.8rem;
  display: flex;
  width: 0.6rem;
  height: 0.6rem;
  box-sizing: border-box;
}
.page .ellipse-73 {
  opacity: 0.7;
  border-radius: 0.2rem;
  background: #FFFFFF;
  margin: 0 0.1rem;
  width: 0.4rem;
  height: 0.4rem;
}
.page .frame-111 {
  margin: 8.5rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 0.6rem;
  height: fit-content;
  box-sizing: border-box;
}
.page .container-10 {
  margin-bottom: 3.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 86rem;
  box-sizing: border-box;
}
.page .vector-stroke-8 {
  width: 0.5rem;
  height: 0.9rem;
}
.page .arrows-2 {
  border-radius: 2.1rem;
  background: #FFFFFF;
  position: relative;
  margin-right: 0.9rem;
  display: flex;
  padding: 1.6rem 0 1.7rem 0.1rem;
  width: 4.2rem;
  height: 4.2rem;
  box-sizing: border-box;
}
.page .vector-stroke-9 {
  width: 0.5rem;
  height: 0.9rem;
}
.page .arrows-3 {
  border-radius: 2.1rem;
  background: #F0F2F6;
  position: relative;
  display: flex;
  padding: 1.6rem 0.1rem 1.7rem 0;
  width: 4.2rem;
  height: 4.2rem;
  box-sizing: border-box;
}
.page .frame-591 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 9.3rem;
  box-sizing: border-box;
}
.page .group-3221 {
  background: url('../assets/images/image_9.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  bottom: 0rem;
  translate: -50% 0;
  display: flex;
  flex-direction: column;
  padding: 6.1rem 4.7rem 2.9rem 5.5rem;
  box-sizing: border-box;
}
.page .group-322 {
  position: relative;
  margin: 0 11.9rem 6.9rem 11.9rem;
  align-self: flex-start;
  padding: 5.3rem 5.6rem 11.8rem 5.6rem;
  width: fit-content;
  box-sizing: border-box;
}
.page .vector-stroke-11 {
  width: 0.5rem;
  height: 0.9rem;
}
.page .arrows-4 {
  border-radius: 2.1rem;
  background: #FFFFFF;
  position: relative;
  margin: 0.9rem 0 1rem 0;
  display: flex;
  padding: 1.6rem 0 1.7rem 0.1rem;
  width: 4.2rem;
  height: 4.2rem;
  box-sizing: border-box;
}
.page .image-7 {
  background: url('../assets/images/image_7.png') 50% / cover no-repeat;
  margin: 0 5.2rem 0.3rem 0;
  width: 7.8rem;
  height: 5.8rem;
}
.page .image-3 {
  background: url('../assets/images/image_3.png') 50% / cover no-repeat;
  margin: 0 5.2rem 0.3rem 0;
  width: 8.8rem;
  height: 5.8rem;
}
.page .image-4 {
  background: url('../assets/images/image_4.png') 50% / cover no-repeat;
  margin: 0 5.2rem 0.3rem 0;
  width: 7.5rem;
  height: 5.8rem;
}
.page .image-5 {
  background: url('../assets/images/image_5.png') 50% / cover no-repeat;
  margin: 0.3rem 5.2rem 0 0;
  width: 8.2rem;
  height: 5.8rem;
}
.page .image-6 {
  background: url('../assets/images/image_6.png') 50% / cover no-repeat;
  margin: 0 5.2rem 0.3rem 0;
  width: 9.4rem;
  height: 5.8rem;
}
.page .image-8 {
  background: url('../assets/images/image_8.png') 50% / cover no-repeat;
  margin-bottom: 0.3rem;
  width: 8rem;
  height: 5.8rem;
}
.page .group-376 {
  display: flex;
  flex-direction: row;
  width: 75.6rem;
  box-sizing: border-box;
}
.page .vector-stroke-12 {
  width: 0.5rem;
  height: 0.9rem;
}
.page .arrows-5 {
  border-radius: 2.1rem;
  background: #FFFFFF;
  position: relative;
  margin: 0.9rem 0 1rem 0;
  display: flex;
  padding: 1.6rem 0.1rem 1.7rem 0;
  width: 4.2rem;
  height: 4.2rem;
  box-sizing: border-box;
}
.page .container-26 {
  margin: 0 1.5rem 6.9rem 0;
  display: flex;
  flex-direction: row;
  column-gap: 1.8rem;
  width: 87.4rem;
  box-sizing: border-box;
}
.page .container-1 {
  margin-right: 1.3rem;
  width: 73.2rem;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 1.9rem;
  line-height: 1.355;
  text-transform: uppercase;
  color: var(--black, #020202);
}
.page .container-2 {
  margin-right: 0.7rem;
  width: 9rem;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.643;
  text-transform: uppercase;
  color: #000000;
}
.page .vector-stroke {
  margin: 0.4rem 0;
  width: 0.4rem;
  height: 0.6rem;
}
.page .frame-14 {
  border-bottom: 0.1rem solid var(--black, #020202);
  margin: 0.4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0rem 0.2rem 0;
  width: 10rem;
  height: fit-content;
  box-sizing: border-box;
}
.page .container-22 {
  margin: 0 0.6rem 2.4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 84.5rem;
  box-sizing: border-box;
}
.page .vector-7 {
  width: 1.2rem;
  height: 1.1rem;
}
.page .group-23 {
  display: flex;
  width: 1.2rem;
  height: 1.1rem;
  box-sizing: border-box;
}
.page .img {
  background: url('../assets/images/rectangle_22.png') 50% / cover no-repeat;
  position: relative;
  display: flex;
  padding: 2.1rem 1.6rem 0 1.6rem;
  width: 19.9rem;
  height: 19.9rem;
  box-sizing: border-box;
}
.page .nike-court-zoom-cage-2 {
  margin-bottom: 0.2rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.474;
  text-transform: uppercase;
  color: #000000;
}
.container-32 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.333;
}
.page .container-32 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1;
  color: #3C3C3C;
}
.container-32-sub38 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.333;
  color: #3C3C3C;
}
.page .frame-13 {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.page .frame-20 {
  margin-right: 1.1rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.page .thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.page .vector-8 {
  width: 1.2rem;
  height: 1.1rem;
}
.page .group-231 {
  display: flex;
  width: 1.2rem;
  height: 1.1rem;
  box-sizing: border-box;
}
.page .img-1 {
  background: url('../assets/images/rectangle_221.png') 50% / cover no-repeat;
  position: relative;
  display: flex;
  padding: 2.1rem 1.6rem 0 1.6rem;
  width: 19.9rem;
  height: 19.9rem;
  box-sizing: border-box;
}
.page .nike-court-zoom-cage-21 {
  margin-bottom: 0.2rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.474;
  text-transform: uppercase;
  color: #000000;
}
.page .container-33 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1;
  color: #3C3C3C;
}
.page .frame-131 {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.page .frame-201 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.page .thumb-1 {
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page .vector-9 {
  width: 1.2rem;
  height: 1.1rem;
}
.page .group-232 {
  display: flex;
  width: 1.2rem;
  height: 1.1rem;
  box-sizing: border-box;
}
.page .img-2 {
  background: url('../assets/images/rectangle_223.png') 50% / cover no-repeat;
  position: relative;
  display: flex;
  padding: 2.1rem 1.6rem 0 1.6rem;
  width: 19.9rem;
  height: 19.9rem;
  box-sizing: border-box;
}
.page .nike-court-zoom-cage-22 {
  margin-bottom: 0.2rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.474;
  text-transform: uppercase;
  color: #000000;
}
.page .container-34 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1;
  color: #3C3C3C;
}
.container-34-sub6 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.333;
}
.page .frame-132 {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.page .frame-202 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.page .thumb-2 {
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page .vector-10 {
  width: 1.2rem;
  height: 1.1rem;
}
.page .group-233 {
  display: flex;
  width: 1.2rem;
  height: 1.1rem;
  box-sizing: border-box;
}
.page .img-3 {
  background: url('../assets/images/rectangle_222.png') 50% / cover no-repeat;
  position: relative;
  display: flex;
  padding: 2.1rem 1.6rem 0 1.6rem;
  width: 19.9rem;
  height: 19.9rem;
  box-sizing: border-box;
}
.page .nike-court-zoom-cage-23 {
  margin-bottom: 0.2rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.474;
  text-transform: uppercase;
  color: #000000;
}
.page .container-35 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1;
  color: #3C3C3C;
}
.container-35-sub6 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.333;
}
.page .frame-133 {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.page .frame-203 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.page .thumb-3 {
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page .frame-31 {
  margin-bottom: 3.6rem;
  display: flex;
  flex-direction: row;
  column-gap: 1.9rem;
  width: fit-content;
  box-sizing: border-box;
}
.page .vector-1 {
  width: 0.4rem;
  height: 0.8rem;
}
.page .ellipse-8 {
  border-radius: 0.3rem;
  background: var(--black, #020202);
  margin: 0.1rem 0;
  width: 0.6rem;
  height: 0.6rem;
}
.page .ellipse-11 {
  opacity: 0.7;
  border-radius: 0.2rem;
  background: var(--black, #020202);
  margin: 0.2rem 0;
  width: 0.4rem;
  height: 0.4rem;
}
.page .ellipse-9 {
  opacity: 0.7;
  border-radius: 0.2rem;
  background: var(--black, #020202);
  margin: 0.2rem 0;
  width: 0.4rem;
  height: 0.4rem;
}
.page .ellipse-7 {
  opacity: 0.7;
  border-radius: 0.2rem;
  background: var(--black, #020202);
  margin: 0.2rem 0;
  width: 0.4rem;
  height: 0.4rem;
}
.page .vector {
  opacity: 0.3;
  width: 0.4rem;
  height: 0.8rem;
}
.page .frame-32 {
  margin-right: 1.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 16.6rem;
  box-sizing: border-box;
}
.page .group-26 {
  margin: 0 1.3rem 28.8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.page .rectangle-42 {
  opacity: 0.3;
  background: radial-gradient(44.94% 110.87% at 16.91% 0%, rgba(255, 255, 255, 0.19) 0%, rgba(255, 255, 255, 0.19) 100%), linear-gradient(274.21deg, #BCBFC7 -4.3%, #D5D7DC 46.6%), linear-gradient(#D9D9D9, #D9D9D9);
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  height: 100%;
}
.page .art-shoes {
  margin-bottom: 1.1rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 2.3rem;
  line-height: 1.333;
  text-transform: uppercase;
  color: var(--black, #020202);
}
.page .art-shoes-cpoizon-40-poizon {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 2.143;
  color: var(--dark-gray, #303030);
}
.page .frame-44 {
  position: relative;
  margin: 1.3rem 17.7rem 5.1rem 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page .rectangle-39 {
  border-radius: 0.3rem;
  background: #FD7900;
  position: absolute;
  top: 1rem;
  right: 0rem;
  width: 7.6rem;
  height: 0.2rem;
}
.page .vector-stroke-1 {
  margin-right: 1.8rem;
  width: 3.2rem;
  height: 3.2rem;
}
.page .container-3 {
  margin: 0.1rem 0 0.4rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 0.8rem;
  line-height: 1.692;
  text-transform: uppercase;
  color: var(--black, #020202);
}
.page .container-6 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page .container-4 {
  position: absolute;
  right: 3.1rem;
  bottom: 0rem;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.429;
  color: var(--dark-gray, #303030);
}
.page .group-35 {
  position: relative;
  margin: 0 1.3rem 2.5rem 0;
  padding-bottom: 1.7rem;
  width: fit-content;
  box-sizing: border-box;
}
.page .rectangle-45 {
  border-radius: 0.3rem;
  background: #FD7900;
  position: absolute;
  top: 1rem;
  right: 0rem;
  width: 8.4rem;
  height: 0.2rem;
}
.page .vector-stroke-2 {
  margin: 0 1.8rem 2.4rem 0;
  width: 3.2rem;
  height: 3.2rem;
}
.page .container-5 {
  position: relative;
  margin: 0 0.6rem 0.3rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 0.8rem;
  line-height: 1.692;
  text-transform: uppercase;
  color: var(--black, #020202);
}
.page .container-6 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.429;
  color: var(--dark-gray, #303030);
}
.page .container-7 {
  margin-top: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.page .container-12 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page .group-34 {
  position: relative;
  margin: 0 0.5rem 2.5rem 0;
  width: fit-content;
  box-sizing: border-box;
}
.page .rectangle-46 {
  border-radius: 0.3rem;
  background: #FD7900;
  position: absolute;
  top: 1rem;
  right: 2.8rem;
  width: 6.2rem;
  height: 0.2rem;
}
.page .vector-stroke-3 {
  margin: 0 1.8rem 2.4rem 0;
  width: 3.2rem;
  height: 3.2rem;
}
.page .container-7 {
  position: relative;
  margin-bottom: 0.3rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 0.8rem;
  line-height: 1.692;
  text-transform: uppercase;
  color: var(--black, #020202);
}
.page .poizon {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.429;
  color: var(--dark-gray, #303030);
}
.page .container-15 {
  margin-top: 0.1rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page .container-24 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page .group-33 {
  position: relative;
  display: flex;
  box-sizing: border-box;
}
.page .container-23 {
  box-shadow: 0rem 12.4rem 5rem 0rem rgba(0, 0, 0, 0.01), 0rem 7rem 4.2rem 0rem rgba(0, 0, 0, 0.02), 0rem 3.1rem 3.1rem 0rem rgba(0, 0, 0, 0.03), 0rem 0.8rem 1.7rem 0rem rgba(0, 0, 0, 0.04), 0rem 0rem 0rem 0rem rgba(0, 0, 0, 0.04);
  border-radius: 0.3rem;
  background: #FFFFFF;
  position: relative;
  margin-right: 4.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 0 3rem 0;
  width: 25.9rem;
  height: fit-content;
  box-sizing: border-box;
}
.page .vector-4 {
  width: 2.4rem;
  height: 2.3rem;
}
.page .group-330 {
  border-radius: 2.7rem;
  background: #020202;
  position: relative;
  margin: 17.8rem 0 3.5rem 0;
  display: flex;
  padding: 1.5rem 0 1.6rem 0.1rem;
  width: 5.3rem;
  height: 5.3rem;
  box-sizing: border-box;
}
.page .group-36 {
  position: relative;
  margin: 0 0 2.6rem 1.4rem;
  display: flex;
  flex-direction: row;
  padding: 23.2rem 8rem 6.1rem 0;
  width: 120rem;
  box-sizing: border-box;
}
.page .poizon-1 {
  margin: 0 67.6rem 0.1rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.375;
  color: #FFFFFF;
}
.page .container-8 {
  margin-right: 1.3rem;
  width: 74.2rem;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 1.9rem;
  line-height: 1.355;
  text-transform: uppercase;
  color: var(--black, #020202);
}
.page .container-36 {
  margin-right: 0.7rem;
  width: 7.9rem;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.643;
  text-transform: uppercase;
  color: #000000;
}
.page .vector-stroke-4 {
  margin: 0.4rem 0;
  width: 0.4rem;
  height: 0.6rem;
}
.page .more {
  border-bottom: 0.1rem solid var(--black, #020202);
  margin-bottom: 0.9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0rem 0.2rem 0;
  width: 9rem;
  height: fit-content;
  box-sizing: border-box;
}
.page .container-4 {
  margin: 0 0.6rem 2.1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 84.5rem;
  box-sizing: border-box;
}
.page .rectangle-49 {
  border-radius: 0.3rem;
  background: url('../assets/images/rectangle_491.png') 50% / cover no-repeat;
  margin-bottom: 0.8rem;
  width: 27.1rem;
  height: 15.6rem;
}
.page .container-9 {
  margin-bottom: 0.8rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.304;
  color: var(--black, #020202);
}
.page .container-10 {
  margin-bottom: 0.6rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.667;
  color: var(--dark-gray, #303030);
}
.page .container-11 {
  position: absolute;
  left: 0rem;
  bottom: 0rem;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.071;
  text-transform: uppercase;
  color: #000000;
}
.page .frame-15 {
  border-bottom: 0.2rem solid #FD7900;
  position: relative;
  margin: 0.3rem 0;
  width: 5.7rem;
  height: 0.9rem;
}
.page .container-12 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 2.091;
  text-transform: uppercase;
  color: var(--light-gray, #8C8F96);
}
.page .frame-49 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 26.7rem;
  box-sizing: border-box;
}
.page .frame-48 {
  margin-right: 0.4rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.page .frame-50 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.page .rectangle-491 {
  border-radius: 0.3rem;
  background: url('../assets/images/rectangle_492.png') 50% / cover no-repeat;
  margin-bottom: 0.8rem;
  width: 27.1rem;
  height: 15.6rem;
}
.page .container-13 {
  margin-bottom: 0.8rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.304;
  color: var(--black, #020202);
}
.page .container-14 {
  margin-bottom: 0.6rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.667;
  color: var(--dark-gray, #303030);
}
.page .container-15 {
  position: absolute;
  left: 0rem;
  bottom: 0rem;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.071;
  text-transform: uppercase;
  color: #000000;
}
.page .frame-151 {
  border-bottom: 0.2rem solid #FD7900;
  position: relative;
  margin: 0.3rem 0;
  width: 5.7rem;
  height: 0.9rem;
}
.page .container-16 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 2.091;
  text-transform: uppercase;
  color: var(--light-gray, #8C8F96);
}
.page .frame-491 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 26.7rem;
  box-sizing: border-box;
}
.page .frame-481 {
  margin-right: 0.4rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.page .frame-51 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.page .rectangle-492 {
  border-radius: 0.3rem;
  background: url('../assets/images/rectangle_49.png') 50% / cover no-repeat;
  width: 27.1rem;
  height: 15.6rem;
}
.page .group-38 {
  border-radius: 0.3rem;
  margin-bottom: 0.8rem;
  display: flex;
  width: 27.1rem;
  height: 15.6rem;
  box-sizing: border-box;
}
.page .container-17 {
  margin-bottom: 0.8rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.304;
  color: var(--black, #020202);
}
.page .container-18 {
  margin-bottom: 0.6rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.667;
  color: var(--dark-gray, #303030);
}
.page .container-19 {
  position: absolute;
  left: 0rem;
  bottom: 0rem;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.071;
  text-transform: uppercase;
  color: #000000;
}
.page .frame-152 {
  border-bottom: 0.2rem solid #FD7900;
  position: relative;
  margin: 0.3rem 0;
  width: 5.7rem;
  height: 0.9rem;
}
.page .container-20 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 2.091;
  text-transform: uppercase;
  color: var(--light-gray, #8C8F96);
}
.page .frame-492 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 26.7rem;
  box-sizing: border-box;
}
.page .frame-482 {
  margin-right: 0.4rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.page .frame-521 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.page .frame-52 {
  margin-bottom: 4.3rem;
  display: flex;
  flex-direction: row;
  column-gap: 1.9rem;
  width: fit-content;
  box-sizing: border-box;
}
.page .vector-3 {
  width: 0.4rem;
  height: 0.8rem;
}
.page .ellipse-81 {
  border-radius: 0.3rem;
  background: var(--black, #020202);
  margin: 0.1rem 0;
  width: 0.6rem;
  height: 0.6rem;
}
.page .ellipse-111 {
  opacity: 0.7;
  border-radius: 0.2rem;
  background: var(--black, #020202);
  margin: 0.2rem 0;
  width: 0.4rem;
  height: 0.4rem;
}
.page .ellipse-91 {
  opacity: 0.7;
  border-radius: 0.2rem;
  background: var(--black, #020202);
  margin: 0.2rem 0;
  width: 0.4rem;
  height: 0.4rem;
}
.page .ellipse-71 {
  opacity: 0.7;
  border-radius: 0.2rem;
  background: var(--black, #020202);
  margin: 0.2rem 0;
  width: 0.4rem;
  height: 0.4rem;
}
.page .vector-2 {
  opacity: 0.3;
  width: 0.4rem;
  height: 0.8rem;
}
.page .frame-321 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 16.6rem;
  box-sizing: border-box;
}
.page .group-39 {
  margin: 0 0.3rem 6.9rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.page .container-39 {
  margin-bottom: 0.6rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.867;
  text-transform: uppercase;
  color: #FFFFFF;
}
.page .container-40 {
  margin: 0 0.7rem 0.6rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.867;
  color: #DCDCE0;
}
.page .container-41 {
  margin-bottom: 0.6rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.867;
  color: #DCDCE0;
}
.page .container-42 {
  margin-bottom: 0.6rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.867;
  color: #DCDCE0;
}
.page .container-43 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.867;
  color: #DCDCE0;
}
.page .group-333 {
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page .container-44 {
  margin-bottom: 0.6rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.867;
  text-transform: uppercase;
  color: #FFFFFF;
}
.page .container-45 {
  margin-bottom: 0.6rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.867;
  color: #DCDCE0;
}
.page .container-46 {
  margin-bottom: 0.6rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.867;
  color: #DCDCE0;
}
.page .container-47 {
  margin-bottom: 0.6rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.867;
  color: #DCDCE0;
}
.page .container-48 {
  margin-bottom: 0.6rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.867;
  color: #DCDCE0;
}
.page .faq {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.867;
  color: #DCDCE0;
}
.page .group-332 {
  margin: 0 13.3rem 3.7rem 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page .container-49 {
  margin-bottom: 0.6rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.867;
  text-transform: uppercase;
  color: #FFFFFF;
}
.page .infoxwear-info {
  margin-bottom: 0.6rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  text-decoration-line: underline;
  line-height: 1.867;
  color: #DCDCE0;
}
.page .container-50 {
  margin-bottom: 0.6rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1rem;
  line-height: 2;
  color: #FFFFFF;
}
.page .container-51 {
  margin-bottom: 0.2rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  font-size: 0.8rem;
  line-height: 2.333;
  text-transform: uppercase;
  color: #FFFFFF;
}
.page .group-345 {
  margin-right: 0.6rem;
  width: 1.9rem;
  height: 1.9rem;
}
.page .group-344 {
  width: 1.9rem;
  height: 1.9rem;
}
.page .frame-134 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 4.3rem;
  box-sizing: border-box;
}
.page .frame-34291 {
  margin-bottom: 0.6rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.page .container-52 {
  margin-bottom: 0.2rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  font-size: 0.8rem;
  line-height: 2.333;
  text-transform: uppercase;
  color: #FFFFFF;
}
.page .group-41 {
  width: 1.9rem;
  height: 1.9rem;
}
.page .frame-135 {
  display: flex;
  align-self: flex-start;
  width: 1.9rem;
  height: 1.9rem;
  box-sizing: border-box;
}
.page .frame-34292 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.page .frame-55 {
  margin: 0 13.3rem 1.6rem 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page .container-53 {
  margin-bottom: 0.6rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.867;
  text-transform: uppercase;
  color: #FFFFFF;
}
.page .container-54 {
  margin-bottom: 1.4rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.867;
  color: #DCDCE0;
}
.page .email {
  opacity: 0.6;
  margin: 0.1rem 0.9rem 0 0;
  display: inline-block;
  width: 14.2rem;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 2.154;
  color: #FFFFFF;
}
.page .vector-15 {
  width: 0.3rem;
  height: 0.5rem;
}
.page .group-42 {
  border-radius: 0.9rem;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 0.6rem 0.8rem 0.7rem 0.8rem;
  width: 1.8rem;
  height: 1.8rem;
  box-sizing: border-box;
}
.page .container {
  margin-bottom: 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 16.9rem;
  box-sizing: border-box;
}
.page .rectangle-51 {
  opacity: 0.4;
  background: #FFFFFF;
  margin: 0 0.2rem 0.9rem 0;
  width: 16.8rem;
  height: 0.1rem;
}
.page .container-56 {
  opacity: 0.4;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.5;
  color: #FFFFFF;
}
.page .container-55 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.page .frame-56 {
  margin-bottom: 3.8rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.page .container-57 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.7rem;
  text-decoration-line: underline;
  line-height: 1.636;
  text-transform: uppercase;
  color: #707076;
}
.page .container-58 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.7rem;
  text-decoration-line: underline;
  line-height: 1.636;
  text-transform: uppercase;
  color: #707076;
}
.page .frame-58 {
  margin: 0 0.2rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.page .group-331 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page .container-17 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page .frame-34293 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 84.9rem;
  height: fit-content;
  box-sizing: border-box;
}
.page .linked-ellipse-1 {
  transform: rotate(-132.613deg);
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  height: 100%;
}
.page .copy-art-shoes {
  transform: rotate(-23.917deg);
  position: relative;
  margin: 0.1rem 0.2rem 0 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  color: #FFFFFF;
}
.page .copy-art-shoes-1 {
  margin-bottom: 0.1rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  color: #FFFFFF;
}
.page .container-14 {
  margin: 0 0.1rem 1rem 0.4rem;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.page .copy-art-shoes-3 {
  transform: rotate(46.211deg);
  margin: 0 0.7rem 0.8rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  color: #FFFFFF;
}
.page .copy-art-shoes-5 {
  margin-top: 0.8rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  color: #FFFFFF;
}
.page .container-16 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page .copy-art-shoes-4 {
  transform: rotate(35.047deg);
  position: absolute;
  left: 0.4rem;
  bottom: 0.3rem;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  color: #FFFFFF;
}
.page .container-1 {
  position: relative;
  display: flex;
  box-sizing: border-box;
}
.page .container-20 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.page .vector-5 {
  transform: rotate(-41.98deg);
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 1.8rem;
  height: 1.8rem;
}
.page .copy-art-shoes-2 {
  transform: rotate(32.452deg);
  position: absolute;
  top: 0.2rem;
  right: 1.4rem;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  color: #FFFFFF;
}
.page .copy-art-shoes-6 {
  transform: rotate(-33.477deg);
  position: absolute;
  right: 1.2rem;
  bottom: 0.4rem;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  color: #FFFFFF;
}
.page .copy-art-shoes-7 {
  transform: rotate(-56.672deg);
  position: absolute;
  right: 0.7rem;
  bottom: 0.9rem;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  color: #FFFFFF;
}
.page .group-377 {
  position: absolute;
  left: 17rem;
  bottom: 5rem;
  padding: 0.1rem 0.5rem;
  width: 4.4rem;
  box-sizing: border-box;
}
.page .frame-34381 {
  background: #020202;
  position: relative;
  margin-right: 1.4rem;
  display: flex;
  padding: 2.8rem 0.1rem 5.8rem 0;
  width: 120rem;
  box-sizing: border-box;
}
.page .container-27 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 121.4rem;
  height: fit-content;
  box-sizing: border-box;
}
.page .container-25 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.333;
  color: #FFFFFF;
}
.page .container-13 {
  border-radius: 2.4rem;
  background: rgba(255, 255, 255, 0.01);
  position: relative;
  margin-right: 1.3rem;
  display: flex;
  padding: 1.4rem 0 1.4rem 0.1rem;
  width: 4.8rem;
  box-sizing: border-box;
}
.page .telegram-whats-app {
  margin: 0.3rem 0 0.4rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.375;
  color: #FFFFFF;
}
.page .group-326 {
  position: absolute;
  left: 43.6rem;
  bottom: 69.6rem;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page .container-26 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.333;
  color: #FFFFFF;
}
.page .container-5 {
  border-radius: 2.4rem;
  background: rgba(255, 255, 255, 0.01);
  position: absolute;
  left: 17.8rem;
  bottom: 69.6rem;
  display: flex;
  padding-left: 0.1rem;
  width: 4.8rem;
  height: 4.8rem;
  box-sizing: border-box;
}
.page .rectangle-1650 {
  border-radius: 0.4rem;
  background: linear-gradient(267.03deg, #FD7900 5.32%, #FD8C00 27.32%, #FD7900 57.93%, #FD8C00 78.97%, #FD8C00 97.5%);
  position: absolute;
  left: 0rem;
  right: 0rem;
  bottom: 0.5rem;
  height: 39.4rem;
}
.page .container-29 {
  margin-bottom: 1.2rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 1.235;
  text-transform: uppercase;
  color: #FFFFFF;
}
.page .poizon-2 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.684;
  color: #FFFFFF;
}
.poizon-2-sub1 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.333;
}
.page .frame-342892 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page .container-64 {
  margin-right: 0.6rem;
  width: 13.1rem;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.429;
  text-transform: uppercase;
  color: #FFFFFF;
}
.page .vector-stroke-17 {
  margin: 0.3rem 0;
  width: 0.4rem;
  height: 0.6rem;
}
.page .blue-btn-2 {
  border-radius: 0.3rem;
  background: var(--black, #020202);
  position: absolute;
  left: 5.6rem;
  bottom: 4.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.4rem 1.7rem;
  width: 17.4rem;
  box-sizing: border-box;
}
.page .iphone-12-pro-61-mockup-label {
  background: url('../assets/images/iphone_12_pro_61_mockup_label.png') 50% / cover no-repeat;
  width: 23.2rem;
  height: 40.4rem;
}
.page .group-329 {
  background: url('../assets/images/main.png') 50% / cover no-repeat;
  transform: rotate(15deg);
  position: absolute;
  right: 9.2rem;
  bottom: 0rem;
  display: flex;
  padding: 0.9rem 2rem 1.3rem 0.7rem;
  width: 25.8rem;
  height: 42.6rem;
  box-sizing: border-box;
}
.page .container-30 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 0.583;
  color: #FFFFFF;
}
.page .container-11 {
  border-radius: 1.9rem;
  background: rgba(255, 255, 255, 0.01);
  position: relative;
  margin: 0 1rem 0.3rem 0;
  display: flex;
  padding: 1.5rem 0 1.5rem 0.1rem;
  width: 3.9rem;
  height: fit-content;
  box-sizing: border-box;
}
.page .poizon-3 {
  margin-top: 0.3rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #FFFFFF;
}
.page .group-327 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page .container-31 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 0.583;
  color: #FFFFFF;
}
.page .container-3 {
  border-radius: 1.9rem;
  background: rgba(255, 255, 255, 0.01);
  position: relative;
  margin: 0 1rem 0.1rem 0;
  display: flex;
  padding: 1.5rem 0 1.5rem 0.1rem;
  width: 3.9rem;
  height: fit-content;
  box-sizing: border-box;
}
.page .telegram-whats-app-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #FFFFFF;
}
.page .group-3261 {
  margin-bottom: 0.3rem;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page .frame-34312 {
  position: absolute;
  left: 5.6rem;
  bottom: 12.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 36.7rem;
  box-sizing: border-box;
}
.page .group-379 {
  position: absolute;
  left: 11.9rem;
  top: 108.9rem;
  right: 11.8rem;
  padding: 8.8rem 5.6rem 18.7rem 5.6rem;
  box-sizing: border-box;
}
.container {
  background: #FFFFFF;
  display: flex;
  width: 120rem;
  box-sizing: border-box;
}
